.auth {
  height: 100%;
  text-align: left;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 40px;
}

.form-auth {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-auth .checkbox {
  font-weight: 400;
}

.form-auth .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-auth input[type="email"] {
  margin-bottom: -1px;
}
.form-auth input[type="password"] {
  margin-bottom: 10px;
}
